{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, My name is Kevin and I hold a master's degree with a major in Communication
        Engineering, awarded to me by National Chung Hsing University in Taichung in 2013. After
        graduating I chose alternative military service in RDSS (Research and Development Substitute
        Services) and was fortunate to receive an offer of employment from TSMC company.
        I started as an equipment engineer in the CVD (chemical vapour deposition) division of the
        engineering department, where I worked for 22 months. However, I realized that I wanted to do
        something more interesting, so I took the opportunity, which I seized upon, to transfer to the IT
        department in CIM (Computer integrated manufacturing), as an automation engineer. Working in
        this division helped me to gain a lot of experience in programming, and to improve my
        communication and system design skills. I was able to grow personally through the insight and
        inspiration I gained in this position, along with the support and advice of my colleagues and general
        manager.
    </p>
    <p>
        After working in the CIM division for three years, I began thinking about my next step. I had
        always wanted to study English in the UK. I did this for a number of reasons. My main reason was
        because I’ve always been interested in English and have also always wanted to live abroad for a
        period of time, to experience the different cultures and lifestyles in the west. It was the right thing to
        do as staying with a host family and going to school on a daily basis meant I was able to immerse
        myself in English at all times and to have a fantastic experience with my newfound friends and
        classmates. I graduated from the school with an advanced level (C1) English qualification. This
        experience confirms what I’ve always believed. We have to have goals and desires in life, which we
        have to chase after. We shouldn’t be afraid of failure or of making mistakes. It was this belief that
        led me to take on this challenge and succeed.
    </p>
    <p>
        After finishing the travel in Scotland, I went back in Taiwan and was fortunate to work with Shin-
        Etsu, which is the biggest silicon wafer manufacturing supplier worldwide. Subsequently,
        considering factors related to personal development, I made the decision to join Wistron NeWeb
        Corp as a principal software engineer. I am now ready for a new challenge in my life, no matter
        whether it’s working in a new area or in a familiar one I already have experience in. I hope to
        continue my personal development to achieve the best I can in life and to deal with any challenges
        given to me. I know that if I put the work in, result will follow.
    </p>
</main>
{% endblock %}