{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:kevinkai1229@gmail.com">
                    Kevin [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/jayjaykai">
                    @jayjaykai
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Facebook:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.facebook.com/profile.php?id=1062312771">
                    @Kevin Chang
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}